
  
/*reset*/ h1,h4 {margin:0;}

/* basic styles */
h1 { margin-bottom: 10px; }
div { 
  width: 680px;
  padding: 10px 25px;
  margin: 50px auto;
  border-radius: 7px;
  background: rgba(12, 12, 12, 0.4); 
  color: #5a4d4d;
}

/* backgrounds */
.day { background: url('references/free.gif'); }
.sunset { background: url('references/geo.gif'); }
.night { background: url('references/sleep.gif'); }