#mygrid{
	display:grid;
	grid-template-columns:50% 50%;
	grid-template-rows:35vw 35vw 35vw;
	margin:3vw;
}

#logo-holder {position:relative; width:100%; height:100%;}
#logo-holder .image,
#logo-holder .text {transition: opacity 0.5s ease-in-out;}
#logo-holder .text {position:absolute; top: 4cm;; opacity:0; display: block; font-size: 24pt; font-family: Garamond, serif; color: thistle; text-align: center;}

#logo-holder:hover .image {opacity:0;}
#logo-holder:hover .text {opacity:1;}

h1{
    display: block; 
	font-size: 3em; 
	font-weight: bold;
	font-family: 'Nova Flat';
    position: absolute;
    background-color: white;
    top: 0cm;
    color: rgb(141, 26, 122);
    text-align: center;
    animation-name: float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h3{
	display: block;
    font-size: 1.37em;
	font-family: Garamond, serif;
    position: absolute;
    top: 3.5cm;
    text-align: center;
    color: white;
}

div.absolute {
  position:absolute;
  display: block;
    align-items: center;
    text-align: center;
    left:25%;
    font-size: 1.30em;
  width: 50%;
}
div.absolute {
    position:absolute;
    display: block;
      align-items: center;
      text-align: left;
      left:25%;
      font-size: 1.30em;
    width: 40%;
  }
#slide2{
	width: 100%;
	height: 100%;
	font-family: Garamond, serif;
	text-align: justify;
    color: white;
    font-size: 20pt;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 1cm;
    
}
body{
    background-color: rgb(149, 146, 194);
    width: 100%;
    height: 100%;
    text-align: center;
    height: 100%;
}
.backgroundimg{
    position:absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
#slide2{
	width: 120%;
	height: 600px;
	background-color: rgb(145, 192, 214);
	font-family: Garamond, serif;
	text-align: center;
}
#slide3{
	width: 100%;
	height: 100%;
	background-color: rgb(149, 146, 194);
	font-family: Garamond, serif;
	text-align: justify;
    color: white;
    font-size: 24pt;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 1cm;
    
}
button{
    margin:5vw;
    width:10vw;
    height:6vw;
    border-radius:10px;
    font-size:2vw;
    border:none;
    text-align:center;
    color: white;
    background-color:rgb(107, 68, 180);
}
button:hover{
    background-color:rgb(118, 152, 204);
}
@keyframes float{
    from{transform:translateY(-10px);}
    to{transform:translateY(0px);}
  
  }